body{
    font-family: Sunflower;
}
.flashcard{
    /*background-image: url(Pictures/flashcard.png)*/
    background-color: green;
    /* padding: auto;  */
    vertical-align: middle;
    text-align: center;

}

.flashcard{
    height: 100px;

}
.nextButton{
    height: 50px;
    margin: auto;
}