body{
    font-family: Sunflower;
}
.flashcard{
    /*background-image: url(Pictures/flashcard.png)*/
    background-color: green;
    padding-top: 40px; 

}

.flashcard{
    height: 100px;

}
.nextButton{
    height: 50px;
    margin: auto;
}